body{
    background-image: url("images/ctc.jpj.jpg");
    background-size: 100%;
    text-align:center;
}
.divtag{
    text-align:center;
    border: 2px;
    border-style: solid;
    border-width: medium;
    border-radius: 5%;
    margin: 3% 25% 3%;
    padding: 3%;
    opacity: 0.7;
    background-color:rgb(190, 217, 217);
}
#hedding{
    color:red;
    font-weight: bold;
}
.h1{
    color: rgb(6, 150, 37);
}
#submit{
    background-color:green;
}
#reset{
    background-color: red;
}